<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.com">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
<p><a href="/add">Post a Message</a></p>
<div class="message-block" align="left" th:block="Message">
    <div th:each="message  : ${messages}">
        <p>
            Sent By : <label float="right" th:text="${message.sentBy}"></label><br/>
            <label th:text="${message.content}"></label><br/><br/>
            Date : <label align="right" th:inline="text">[[${message.postedDate}]]</label><br/>
        </p>
        --------------------------------------------------------------------
    </div>
</div>
<p><a href="/add">Post a Message</a></p>
</body>
</html>